In [1]:
! git clone https://github.com/DS3001/wrangling

Cloning into 'wrangling'...
remote: Enumerating objects: 92, done.
remote: Counting objects: 100% (52/52), done.
remote: Compressing objects: 100% (34/34), done.
remote: Total 92 (delta 42), reused 18 (delta 18), pack-reused 40 (from 1)
Receiving objects: 100% (92/92), 18.08 MiB | 8.20 MiB/s, done.
Resolving deltas: 100% (43/43), done.

In [3]:
import pandas as pd
import numpy as np
import seaborn as sns

In [3]:
! ls wrangling

NA_codes.jpg  bondType.png  plane.png	       timespent.jpg
assignment    data	    pretrial_data.csv  wrangling.ipynb

In [ ]:
# Question 2

In [ ]:
# Part 1 clean the numeric variable)

In [12]:
#Reading in the Data and removing commas 
df_air = pd.read_csv('./wrangling/assignment/data/airbnb_hw.csv', thousands=",", low_memory=False)
print( df_air.shape, '\n')
df_air.head()

(30478, 13)

,Host Id,Host Since,Name,Neighbourhood,Property Type,Review Scores Rating (bin),Room Type,Zipcode,Beds,Number of Records,Number Of Reviews,Price,Review Scores Rating
0,5162530,NaN,1 Bedroom in Prime Williamsburg,Brooklyn,Apartment,NaN,Entire home/apt,11249.0,1.0,1,0,145,NaN
1,33134899,NaN,"Sunny, Private room in Bushwick",Brooklyn,Apartment,NaN,Private room,11206.0,1.0,1,1,37,NaN
2,39608626,NaN,Sunny Room in Harlem,Manhattan,Apartment,NaN,Private room,10032.0,1.0,1,1,28,NaN
3,500,6/26/2008,Gorgeous 1 BR with Private Balcony,Manhattan,Apartment,NaN,Entire home/apt,10024.0,3.0,1,0,199,NaN
4,500,6/26/2008,Trendy Times Square Loft,Manhattan,Apartment,95.0,Private room,10036.0,3.0,1,39,549,96.0

In [14]:
#Converting Price to Integers 
df_air['Price'] = df_air['Price'].apply(lambda x: int(x))
print(df_air['Price'])

0        145
1         37
2         28
3        199
4        549
        ...
30473    300
30474    125
30475     80
30476     35
30477     80
Name: Price, Length: 30478, dtype: int64

In [16]:
#Checking for Null Values
df_air['Price'].isnull()
num_nulls_price = df_air['Price'].isnull().sum()
print(f"There are {num_nulls_price} null values in the Price column")

There are 0 null values in the Price column

In [ ]:
# Because the Price values were previously strings but they are numbers we might want to maniupulate to find out average, max etc, I converted them to integers and found there were no missing values in these data in terms of price, along with removing commas from values over 1000.

In [ ]:
# Part 2 clean the catagorical variable)

In [18]:
! pwd

/sfs/weka/scratch/khs2fu/wrangling/wrangling

In [19]:
#Read in the data and return the variable type 
df_sharks = pd.read_csv('/sfs/weka/scratch/khs2fu/wrangling/wrangling/assignment/data/sharks.csv', low_memory=False)
print(df_sharks['Type'])

0       Unprovoked
1         Provoked
2       Unprovoked
3       Unprovoked
4       Unprovoked
           ...
6457    Unprovoked
6458    Unprovoked
6459    Unprovoked
6460    Unprovoked
6461    Unprovoked
Name: Type, Length: 6462, dtype: object

In [20]:
df_sharks.columns[0:30].to_list
#check the number of unique values in each column
df_sharks.describe(include='all').loc['unique', :]
#print the 12 different unique values of Type
df_sharks.Type.unique()

array(['Unprovoked', 'Provoked', 'Questionable', 'Watercraft',
       'Unconfirmed', 'Unverified', 'Invalid', 'Under investigation',
       'Boating', 'Sea Disaster', nan, 'Boat', 'Boatomg'], dtype=object)

In [23]:
#Catagorize 
df_sharks['Type'] = df_sharks['Type'].replace(['Sea Disaster', 'Boat','Boating','Boatomg'],'Watercraft')
df_sharks['Type'].value_counts()

df_sharks['Type'] = df_sharks['Type'].replace(['Invalid', 'Questionable','Unconfirmed','Unverified','Under investigation'],np.nan)
df_sharks['Type'].value_counts()

Type
Unprovoked    4716
Provoked       593
Watercraft     583
Name: count, dtype: int64

In [24]:
#retrieve the counts for each category 
df_sharks['Type'].value_counts()

Type
Unprovoked    4716
Provoked       593
Watercraft     583
Name: count, dtype: int64

In [ ]:
# I decided to play around with the type catagory, and catagorize a like situations under larger buckets like Watercraft related for example

In [ ]:
# Part 3 Clean the Dummy Variable)

In [4]:
#Retrieve/Display Data 
df_pretrial = pd.read_parquet('/sfs/weka/scratch/khs2fu/wrangling/wrangling/assignment/data/justice_data.parquet')
df_pretrial.head()

,InternalStudyID,REQ_REC#,Defendant_Sex,Defendant_Race,Defendant_BirthYear,Defendant_Age,Defendant_AgeGroup,Defendant_AgeatCurrentArrest,Defendant_AttorneyTypeAtCaseClosure,Defendant_IndigencyStatus,...,NewFelonySexualAssaultArrest_OffDate,NewFelonySexualAssaultArrest_ArrestDate,NewFelonySexualAssaultArrest_DaysBetweenContactEventandOffDate,NewFelonySexualAssaultArrest_DaysBetweenOffDateandArrestDate,NewFelonySexualAssaultArrest_DaysBetweenReleaseDateandOffDate,NewFelonySexualAssaultArrest_Disposition,Intertnalindicator_ReasonforExcludingFromFollowUpAnalysis,CriminalHistoryRecordsReturnedorCMSRecordsFoundforIndividual,DispRecordFoundforChargesinOct2017Contact_Atleast1dispfound,CrimeCommission2021ReportClassificationofDefendants
0,ADI00001,1,M,W,1986,31,3,31,99,99,...,,,,999,999,,4,1,0,Defendant could not be classified or tracked d...
1,ADI00007,3,M,B,1956,60,6,60,9,9,...,,,,999,999,,5,1,1,Defendant Detained Entire Pre-Trial Period_Und...
2,ADI00008,4,M,W,1990,27,3,27,9,9,...,,,,999,999,,5,1,1,Defendant Detained Entire Pre-Trial Period_Und...
3,CDI00036,6,M,B,1989,27,3,27,0,0,...,,,,999,999,,5,1,1,Defendant Detained Entire Pre-Trial Period_Und...
4,CDI00038,7,F,W,1988,28,3,28,0,0,...,,,,999,999,,0,1,1,New criminal offense punishable by incarcerati...

In [30]:
#Display Dummy variable 
Released = df_pretrial['WhetherDefendantWasReleasedPretrial']
print(Released.unique(),'\n')

[9 0 1]

In [34]:
#Replace any values with 9 with Null Values 
Released.replace(to_replace=9, value=np.nan, inplace=True)

In [35]:
#Find Missing Values 
print(Released.value_counts(),'\n')
missing = sum(Released.isnull())
print(f"There are {missing} missing values in this column")

WhetherDefendantWasReleasedPretrial
1.0    19154
0.0     3801
Name: count, dtype: int64

There are 31 missing values in this column

In [ ]:
#Part 4 Clean Imposed Sentence Variable

In [5]:
#Create Easier Varible Dataframes to manipulate 
Length = df_pretrial['ImposedSentenceAllChargeInContactEvent'].unique()
Sentence_Type = df_pretrial['SentenceTypeAllChargesAtConvictionInContactEvent'].unique()

In [7]:
# Convert to Numeric and Find Null Values 
Length = pd.to_numeric(Length,errors='coerce') # Coerce to numeric
Length_NA = Length.isnull() # Create a missing dummy
print( np.sum(length_NA),'\n') # 9k missing values of 23k, not so good

AttributeError: 'numpy.ndarray' object has no attribute 'isnull'